html {
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

ul {
  background: rgb(240, 237, 237);
  border: 1px transparent rgb(0, 0, 0);
  
}

li {
  margin-left: 20px;
  display: inline-flex;
  color:rgb(0, 0, 0);
}
